---
import Nav from "../components/nav.astro";
import BaseLayout from "./BaseLayout.astro";
const { title, data, description } = Astro.props;
---

<BaseLayout data={data} title={title} description={description}>
  <div class="wrap-homepage-nav" slot="nav">
    <Nav data={data} />
  </div>
  <slot />
</BaseLayout>

<style>
  .wrap-homepage-nav {
    opacity: 0;
  }
</style>
