---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero.astro";
import { getPreviewClips, getSiteSettings } from "../sanity/api";
import HomepageLayout from "../layouts/HomepageLayout.astro";

const previewData = await getPreviewClips();
const settingsData = await getSiteSettings();
---

<HomepageLayout
  homepageNav={true}
  title="WOE Studio"
  data={settingsData}
  description="WOE (What On Earth) | Innovative Creative Studio Specializing in Video Production. We push the boundaries of conventional taste to deliver powerful, impactful visuals."
>
  <div class="landing-loader" id="loaderWrapper">
    <video
      class="landing-loader-video"
      id="loaderVideo"
      preload="metadata"
      autoplay
      muted="true"
      playsinline
    >
      <source
        src="https://woe-branding-assets.s3.us-east-2.amazonaws.com/W+Intro+Animation+-+Early+fade.mp4"
        type="video/mp4"
        media="(min-width: 992px)"
      />
      <source
        src="https://woe-branding-assets.s3.us-east-2.amazonaws.com/W+Particle+-+Landing+Page+Mobile.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
  <Hero data={previewData.projects} />
</HomepageLayout>

<style lang="scss">
  .hero {
    color: white;
  }
  .landing-loader {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    overflow: hidden;
  }
  .landing-loader-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
    transition: all 0.25s ease;
  }
</style>
<script>
  import { animate } from "motion";
  const loaderVideo = document.getElementById("loaderVideo");
  const loaderWrapper = document.getElementById("loaderWrapper");
  const videoContainer = document.getElementById("hero-video-container");
  const timerItems = document.getElementById("animateTimerIn");
  const userHasVisited = sessionStorage.getItem("visited");
  const navWrapper = document.querySelector(".wrap-homepage-nav");

  const screenWidth = window.innerWidth;

  if (screenWidth >= 992) {
    loaderVideo.src =
      "https://woe-branding-assets.s3.us-east-2.amazonaws.com/W+Intro+Animation+-+Early+fade.mp4";
  } else {
    loaderVideo.src =
      "https://woe-branding-assets.s3.us-east-2.amazonaws.com/W+Particle+-+Landing+Page+Mobile.mp4";
  }

  // if user has been on this page before, don't display the loader and animate hero as usual
  if (userHasVisited) {
    loaderWrapper.style.display = "none";
    animate(
      navWrapper,
      {
        opacity: 1,
      },
      {
        duration: 1,
      }
    );
    animate(
      videoContainer,
      {
        clipPath: "inset(0% 0% 0% 0%)",
      },
      {
        duration: 1.6,
        easing: [0.85, 0, 0.15, 1],
      }
    );
    animate(
      timerItems,
      {
        opacity: 1,
      },
      {
        delay: 0.5,
        duration: 1.6,
      }
    );
  } else {
    // else show the loader and wait for the video to end
    loaderVideo.style.opacity = "1";
    loaderVideo.addEventListener("ended", handleVideoEnd, false);
  }

  function handleVideoEnd() {
    animate(loaderVideo, {
      opacity: 0,
    }).finished.then(() => {
      loaderWrapper.style.display = "none";
      animate(
        navWrapper,
        {
          opacity: 1,
        },
        {
          duration: 1,
        }
      );
      animate(
        videoContainer,
        {
          clipPath: "inset(0% 0% 0% 0%)",
        },
        {
          duration: 1.6,
          easing: [0.85, 0, 0.15, 1],
        }
      );
      animate(
        timerItems,
        {
          opacity: 1,
        },
        {
          delay: 0.5,
          duration: 1.6,
        }
      );
    });

    sessionStorage.setItem("visited", "true");
  }
</script>
