---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <p class="text" id="scramble" data-value="This is my text">This is my text</p>
  <p class="text2" id="scramble" data-value="This is my text">
    This is my test okay
  </p>
</Layout>

<style>
  .text {
    margin-left: 20vh;
    margin-top: 10vh;
    color: white;
    font-family: monospace;
  }
  .text2 {
    margin-left: 20vh;
    color: white;
    margin-top: 2rem;
  }
</style>
