---
const title = "test title here";

const pages = [
  {
    title: "Home",
    route: "/",
  },
  {
    title: "Projects",
    route: "/projects",
  },
  {
    title: "About",
    route: "/about",
  },
];
---

{
  pages.map((page) => (
    <a
      href={`${page.route}`}
      class={`link-test`}
      data-link-content={page.title}
    >
      {page.title}
    </a>
  ))
}

<style>
  .link-test {
    color: red;
  }

  .link-test:before {
    content: attr(data-link-content);
    position: absolute;
    top: 1rem;
  }
</style>
