---

---

<footer class="footer__wrapper">
  <div class="footer-content">
    <div class="footer__flex">
      <div class="footer-contact">
        <div class="footer-contact-email">
          <h4>Work with WOE</h4>
          <a><h4>info@woestudio.co</h4> </a>
        </div>
        <div class="footer-contact-item">
          <svg
            width="19"
            height="18"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 0V13.2191H18" stroke="#EFEDED"></path>
            <path
              d="M14.9082 9.44238L17.9991 13.2212L14.9082 17.0001"
              stroke="#EFEDED"></path>
          </svg>

          <a>
            <h4>Instagram</h4>
          </a>
        </div>
        <div class="footer-contact-item">
          <svg
            width="19"
            height="18"
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M1 0V13.2191H18" stroke="#EFEDED"></path>
            <path
              d="M14.9082 9.44238L17.9991 13.2212L14.9082 17.0001"
              stroke="#EFEDED"></path>
          </svg>

          <a>
            <h4>Tik Tok</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__flex">
      <div class="footer-contact location">
        <p>2O3 - 43 Towns Rd.<br /> Etobicoke, ON<br /> M8Z 1A2</p>
        <p class="legal">(c) 2O24 legal</p>
      </div>
    </div>
    <div class="footer-logo">
      <svg viewBox="0 0 1606 73" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_2341_50)">
          <path
            d="M222.166 3.88977L91.9999 72.8706C91.327 73.1906 90.558 72.7626 90.558 71.9025V25.5925L1.34574 72.8706C0.768996 73.1906 0 72.7626 0 71.9025V3.88977H62.2931C64.4078 3.88977 66.138 5.82195 66.138 8.18627V27.4956C66.138 30.612 69.0218 32.6522 71.6171 31.3641L90.5537 21.4331V4.96597C90.5537 4.42995 91.0343 3.88977 91.5149 3.88977H152.847C154.961 3.88977 156.692 5.82195 156.692 8.18627V27.587C156.692 30.7034 159.672 32.7436 162.171 31.4555L214.419 3.88977H222.166Z"
            fill="#EFEDED"></path>
          <path
            d="M439.765 12.1005L439.804 38.4363H556.888V42.0846H439.804L439.844 66.3054C439.844 67.4855 438.568 69.3096 438.568 69.3096H556.893V72.9787H391.213C391.174 72.9787 391.1 72.9413 391.065 72.9413C390.951 72.9039 390.877 72.8707 390.803 72.8C390.689 72.8 390.615 72.7294 390.575 72.6588C390.501 72.5881 390.462 72.5175 390.427 72.4094C390.313 72.2682 390.278 72.1227 390.278 71.944V37.4183C390.278 34.5595 391.593 31.842 393.887 30.022C395.543 28.7006 439.551 5.43135 440.075 5.14464C441.618 4.32191 443.343 3.89392 445.113 3.89392H556.897V7.56299H446.24C442.518 7.56299 439.774 8.95499 439.774 12.1005H439.765Z"
            fill="#EFEDED"></path>
          <path
            d="M373.098 4.46319C373.059 4.35515 373.024 4.28451 372.95 4.21387C372.911 4.14323 372.836 4.0726 372.723 4.0726C372.648 4.00196 372.574 3.96456 372.461 3.93132C372.421 3.93132 372.347 3.89392 372.312 3.89392H259.112C257.347 3.89392 255.617 4.32191 254.079 5.14464C253.55 5.43135 209.508 28.6965 207.852 30.022C205.558 31.8461 204.243 34.5595 204.243 37.4183V71.944C204.243 72.1227 204.282 72.264 204.391 72.4094C204.431 72.5175 204.466 72.5881 204.54 72.6588C204.579 72.7294 204.653 72.8 204.767 72.8C204.841 72.8707 204.916 72.9081 205.029 72.9413C205.068 72.9413 205.143 72.9787 205.178 72.9787H318.377C320.143 72.9787 321.873 72.5507 323.415 71.728C323.94 71.4413 367.986 48.1762 369.642 46.8506C371.936 45.0265 373.251 42.3131 373.251 39.4502V4.92857C373.251 4.7499 373.208 4.60862 373.098 4.46319ZM324.918 7.59623C324.167 8.34832 323.677 9.38297 323.677 10.5631L323.752 64.768C323.752 67.9135 321.008 69.3055 317.285 69.3055H252.567L252.606 69.2681C253.358 68.516 253.847 67.4813 253.847 66.3012L253.773 12.0963C253.773 8.95083 256.517 7.55883 260.235 7.55883H324.953L324.918 7.59623Z"
            fill="#EFEDED"></path>
          <path
            d="M1605.85 4.51275C1605.81 4.40471 1605.77 4.33407 1605.7 4.26343C1605.66 4.19279 1605.58 4.12216 1605.47 4.12216C1605.4 4.05152 1605.32 4.01412 1605.21 3.98088C1605.17 3.98088 1605.1 3.94348 1605.06 3.94348H1491.86C1490.1 3.94348 1488.37 4.37147 1486.83 5.1942C1486.3 5.48091 1442.26 28.746 1440.6 30.0715C1438.31 31.8957 1436.99 34.609 1436.99 37.4678V71.9936C1436.99 72.1723 1437.03 72.3136 1437.14 72.459C1437.18 72.567 1437.21 72.6377 1437.29 72.7083C1437.33 72.7789 1437.4 72.8496 1437.52 72.8496C1437.59 72.9202 1437.66 72.9576 1437.78 72.9909C1437.82 72.9909 1437.89 73.0283 1437.93 73.0283H1551.13C1552.89 73.0283 1554.62 72.6003 1556.16 71.7775C1556.69 71.4908 1600.73 48.2257 1602.39 46.9002C1604.68 45.0761 1606 42.3627 1606 39.4997V4.97398C1606 4.7953 1605.96 4.65402 1605.85 4.50859L1605.85 4.51275ZM1557.67 7.64579C1556.92 8.39788 1556.43 9.43253 1556.43 10.6126L1556.5 64.8175C1556.5 67.963 1553.76 69.355 1550.03 69.355H1485.32L1485.35 69.3176C1486.11 68.5655 1486.6 67.5309 1486.6 66.3508L1486.52 12.1459C1486.52 9.00039 1489.27 7.60839 1492.98 7.60839H1557.7L1557.67 7.64579Z"
            fill="#EFEDED"></path>
          <path
            d="M1163.85 5.17356V72.1475C1163.85 72.7417 1164.36 73.2278 1164.99 73.2278H1331.92C1331.96 73.2278 1332.04 73.1905 1332.07 73.1905C1332.19 73.1531 1332.26 73.1198 1332.33 73.0492C1332.45 73.0492 1332.52 72.9785 1332.56 72.9079C1332.64 72.8373 1332.67 72.7666 1332.71 72.6586C1332.82 72.5173 1332.86 72.3719 1332.86 72.1932V37.6674C1332.86 34.8086 1331.54 32.0911 1329.25 30.2711C1327.6 28.9498 1283.55 5.6805 1283.02 5.39379C1281.48 4.57105 1279.75 4.14307 1277.99 4.14307H1164.98C1164.93 4.14307 1164.86 4.14307 1164.79 4.14307C1164.75 4.14307 1164.68 4.18046 1164.64 4.18046C1164.53 4.21786 1164.45 4.2511 1164.38 4.32174C1164.26 4.32174 1164.19 4.39238 1164.15 4.46302C1164.08 4.53366 1164.04 4.6043 1164 4.71233C1163.89 4.85361 1163.85 4.99904 1163.85 5.17772V5.17356ZM1212.15 7.80798H1276.87C1280.59 7.80798 1283.33 9.19998 1283.33 12.3455L1283.25 66.5504C1283.25 67.7305 1283.74 68.7651 1284.49 69.5172L1284.53 69.5546H1219.82C1216.09 69.5546 1213.35 68.1626 1213.35 65.0171L1213.42 10.8122C1213.42 9.63212 1212.93 8.59747 1212.18 7.84537L1212.14 7.80798H1212.15Z"
            fill="#EFEDED"></path>
          <path
            d="M1146.84 5.03648V39.5539C1146.84 42.421 1145.52 45.1386 1143.23 46.9544C1141.57 48.2758 1097.52 71.5409 1097 71.8317C1095.45 72.6545 1093.72 73.0741 1091.96 73.0741H1030.96C1029.81 72.8913 1028.69 72.5215 1027.66 71.9689C1027.13 71.678 983.092 48.4129 981.427 47.0915C979.142 45.2715 977.818 42.5582 977.818 39.6911V5.17776C977.818 4.99493 977.862 4.85365 977.975 4.71237C978.01 4.60434 978.045 4.52954 978.124 4.45475C978.159 4.38827 978.237 4.31347 978.351 4.31347C978.421 4.24699 978.5 4.20544 978.613 4.1722C978.648 4.1722 978.727 4.13895 978.762 4.13895H1017.28C1018.07 4.13895 1018.87 4.32178 1019.59 4.67082L1026.16 7.84126C1026.82 8.50194 1027.27 9.37869 1027.37 10.3718L1027.43 66.4133C1027.43 67.5934 1026.94 68.6322 1026.19 69.3801L1026.16 69.4134L1098.5 69.5547L1098.46 69.5214C1097.71 68.7735 1097.22 67.7347 1097.22 66.5546L1097.28 10.2347C1097.38 9.23741 1097.84 8.36066 1098.5 7.70414L1105.06 4.5337C1105.78 4.18882 1106.58 4.00183 1107.38 4.00183H1145.89C1145.93 4.00183 1146.01 4.03507 1146.04 4.03507C1146.15 4.06831 1146.23 4.10987 1146.3 4.17635C1146.42 4.17635 1146.49 4.25114 1146.53 4.31763C1146.61 4.39242 1146.64 4.46722 1146.68 4.57525C1146.79 4.71653 1146.84 4.85365 1146.84 5.03648Z"
            fill="#EFEDED"></path>
          <path
            d="M728.279 64.7679L728.244 38.432V38.3032L660.122 38.2908H611.151C611.151 35.4361 611.151 32.1992 614.201 30.1216C615.953 28.9207 659.86 5.53511 660.384 5.24424C661.931 4.42151 663.661 4.00183 665.426 4.00183H777.219V7.6709H666.554C662.831 7.6709 660.091 9.06705 660.091 12.2042L660.126 34.7671H777.778V39.4542C777.778 42.3089 776.459 45.0264 774.169 46.8547C772.518 48.176 728.51 71.4411 727.986 71.732C726.439 72.5548 724.709 72.9744 722.944 72.9744H611.151V69.3054H721.816C725.539 69.3054 728.279 67.9092 728.279 64.772V64.7679Z"
            fill="#EFEDED"></path>
          <path
            d="M899.59 12.3455L899.734 73.1738L851.222 73.2195H851.038C850.995 73.2195 850.925 73.1863 850.881 73.1863C850.781 73.1531 850.698 73.1115 850.619 73.045C850.505 73.045 850.435 72.9702 850.405 72.9037C850.326 72.8289 850.291 72.7541 850.247 72.6544C850.134 72.5048 850.099 72.3636 850.099 72.189V37.6591C850.099 34.8045 851.418 32.087 853.708 30.2587C855.041 29.1991 883.769 13.9411 895.238 7.85784H794.185V4.14307H960.808V7.81213C960.808 7.81213 905.261 7.83291 904.886 7.86615C901.766 8.13624 899.59 9.55317 899.59 12.3455Z"
            fill="#EFEDED"></path>
          <path
            d="M1409.64 12.1502L1409.78 69.3053H1419.97V73.0284H1349.92V69.3053H1360.14V37.4721C1360.14 34.6175 1361.46 31.9 1363.75 30.0717C1365.09 29.0121 1393.81 13.7541 1405.28 7.67084H1349.89V3.94775H1419.97V7.61682C1419.97 7.61682 1415.31 7.63759 1414.93 7.67084C1411.81 7.94093 1409.64 9.35786 1409.64 12.1502Z"
            fill="#EFEDED"></path>
        </g>
        <defs>
          <clipPath id="clip0_2341_50">
            <rect width="1606" height="73" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>

  <div class="footer-bg-video">
    <video preload="metadata" autoplay="true" loop="true" muted="true">
      <source
        src="https://s3-figma-videos-production-sig.figma.com/video/1322265666267064901/TEAM/9cf5/0e4f/-9002-4e52-baf8-e04685942e74?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hqcEfzRZl5GzkNXphqse7sZFJS7BFumhMR74vlvqSdat~LDS2wSDH2JoawjeNmMk6RtHRi-rLLst~6dB4MvN1Wz7GrxMc~6NEp334JChb-I3h6iaCoPQXyHyQc4kB18btS84XxMsVtxZbcsBpdhpGzxPpfgkoflQXpcxjx1YEPNijopjiw1H5wMqQYjRSmpnCNIjQyn4Aa0kX0xeZRaj3r~8fZok12Yhxb78Z4FYi8QqOqMeIlr2iOMfbz2zZ6FGNrpj9zIqw-0J1K54O6ObVS8aaYwVKaDfYD~358xw8tV4hl04Q1MaFRVrH17~3JRG0SNlAJZGbEAGaTUbwncNOg__"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
</footer>

<style>
  .footer__wrapper {
    position: relative;
    overflow-x: hidden;
  }
  .footer-content {
    position: relative;
    z-index: 1;
  }
  .footer__flex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .footer-contact {
    width: 350px;
    color: var(--white);
  }
  .location {
    padding-top: 45vh;
  }
  .footer-contact-email {
    margin-bottom: 2rem;
    color: rgba(var(--rgb-white), 1);
    & a {
      text-decoration: underline;
      color: rgba(var(--rgb-white), 0.5);
    }
  }
  .footer-contact-item {
    margin-bottom: 1rem;
    display: flex;
    color: rgba(var(--rgb-white), 1);
    & svg {
      margin-right: 1rem;
    }
  }
  .legal {
    margin-top: 2rem;
  }
  .footer-logo {
    margin: 2rem auto;
    margin-top: 4rem;
    width: var(--inner-width);
    display: grid;
    place-items: center;
    position: relative;
    & svg {
      width: 100%;
    }
  }
  .footer-bg-video {
    z-index: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1/1;
    width: 50vw;
    height: auto;
    overflow: hidden;
    & video {
      overflow: hidden;
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
  }
</style>
