---
import { Image } from "astro:assets";

const { logoData } = Astro.props;
---

<div class="marquee-content" id="marquee">
  {
    logoData.map((logo) => (
      <span class="marquee-item">
        <Image
          src={logo.imageSrc}
          alt={`${logo.alt} logo`}
          width="100"
          height="100"
          quality="10"
        />
      </span>
    ))
  }
</div>

<style>
  .marquee-item {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 100px;
    height: auto;
    padding: 0 4rem;
  }
  
  .marquee-content {
    padding: 8rem 0;
    overflow-x: hidden;
    width: 100%;
  }
  @media (max-width: 576px) {
    .marquee-item {
      padding: 0 1rem;
    }
  }
</style>

<script>
  import marquee from "https://cdn.jsdelivr.net/npm/vanilla-marquee/dist/vanilla-marquee.js";

  new marquee(document.getElementById("marquee"), {
    gap: 5,
    duplicated: true,
    startVisible: true,
    speed: 100,
  });
</script>
