<div class="marquee-content" id="marquee">
  <span class="marquee-item">test</span>
  <span class="marquee-item">test</span>
  <span class="marquee-item">test</span>
  <span class="marquee-item">test</span>
  <span class="marquee-item">test</span>
  <span class="marquee-item">test</span>
</div>

<style>
  .marquee-item {
    width: 200px;
    height: 200px;
    background: white;
    padding: 0 8rem;
  }

  .marquee-content {
    padding: 8rem 0;
    overflow-x: hidden;
    width: 100%;
  }
</style>

<script>
  import marquee from "https://cdn.jsdelivr.net/npm/vanilla-marquee/dist/vanilla-marquee.js";

  new marquee(document.getElementById("marquee"), {
    gap: 5,
    duplicated: true,
    startVisible: true,
    speed: 100,
  });
</script>
